body {
  margin-left: 10%;
  margin-right: 10%;
}

/* Nav */
.nav-bar {
  height: 40px;
  width: 100%;
  display: flex;
  background-color: rgb(73, 69, 69);
}
.nav-bar{
  flex-direction: row;
  justify-content: flex-end;  
  align-items: center;
}

.nav-bar ul a {
  margin: 40px;
  color: lightskyblue;
}

/* Header */
.header {
  margin: auto;
  height: 200px;
  width: 100%;
  background-color: gray;
  background-image:url(../images/Profile\ Pics.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
}
.header h1 {
  margin: 20px;
  color: lightskyblue;
}
.header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: baseline;
  align-items: flex-end;
}

/* About me Section */
#about-me {
  display: flex;
  flex-direction: row;
  
}
#aboutMeArticle {
  margin-right: 10px;
  margin-top: 20px;
  font-size: 20px;
}
h2 {
  margin-top: 0%;
  padding: 20PX;
  margin-left: 40px;
}

/* Work Grid area*/
.work-grid {
  display: grid;
  margin: 20px;
  margin-left: 145px;
  margin-top: -70px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 100px 100px;
  grid-template-areas: 
  'horeison horeison'
  'ledwall calculator'
  'firstwebsite running'
  ;
}
#horeison {
  grid-area: horeison;
  background-image: url(../images/horeison.JPG);
}
#ledwall {
  grid-area: ledwall;
  background-image: url(../images/ledwall.JPG);
}
#calculator {
  grid-area: calculator;
  background-image: url(../images/calculator.JPG);
}
#firstwebsite {
  grid-area: firstwebsite;
  background-image: url(../images/firstwebsite.JPG);
}
#running {
  grid-area: running;
  background-image: url(../images/running.JPG);
}
.categoryGridArea {
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid lightskyblue;
  background-size: cover;
  display: grid;
  align-content: end;
  margin: 10px;
}
.heading {
  background-color: lightskyblue;
  padding: 10px;
  margin: auto;
  margin-inline-start: 0px;
  margin-bottom: 15px;
  color: black;
  font-size: 20px;
  font-weight: 600;
  font-display: left ;
  height: 25px;
  border: 2px solid lightskyblue;
}

/* contact me Section */
.contact-me ul {
  color: lightskyblue;
  margin-left: 132px;
  margin-top: -93px;
}

.contact-me ul a {
  color: lightskyblue;
  font-style: strong;
  font-weight: bolder;
  font-size: 20px;
  padding: 20px;
}

@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
}

/* Media Query */
@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
  .work-grid {
    grid-template-areas:
    grid-template-areas: 
    'horeison horeison'
    'ledwall calculator'
    'firstwebsite running'
  }
  .work-grid{
    grid-template-columns: 1fr
    grid-template-rows: 200px 100px 100px;
    grid-template-areas: 
      "horeison"
      "ledwall"
      "calculator"
      "firstwebsite"
      "running"
    ;
  }
}

/* Vertical Lines */
.work-grid {
  border-left: 3px;
  border-left-style: solid;
  padding-left: 14px;
}
#aboutMeArticle {
  border-left: 3px;
  border-left-style: solid;
  padding-left: 14px;
}


