body {
  margin-left: 10%;
  margin-right: 10%;
}

/* Nav */
.nav-bar {
  height: 40px;
  width: 100%;
  display: flex;
  background-color: rgb(73, 69, 69);
}
.nav-bar{
  flex-direction: row;
  justify-content: flex-end;  
  align-items: center;
}

.nav-bar ul a {
  margin: 40px;
  color: lightskyblue;
}

/* Header */
.header {
  margin: auto;
  height: 200px;
  width: 100%;
  background-color: gray;
  background-image:url(../images/Profile\ Pics.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
}
.header h1 {
  margin: 20px;
  color: lightskyblue;
}
.header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: baseline;
  align-items: flex-end;
}

/* About me Section */
#about-me {
  display: flex;
  flex-direction: row;
  
}
#aboutMeArticle {
  margin-right: 10px;
  margin-top: 20px;
}
h2 {
  margin-top: 0%;
  padding: 20PX;
  margin-left: 40px;
}

/* Work Grid area*/
#work-grid {
  display: grid;
  margin: 20px;
  margin-left: 145px;
  margin-top: -70px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 100px 100px;
  grid-template-areas: 
  'horeison horeison'
  'ledwall calculator'
  'firstwebsite running'
  ;
}
#horeison {
  grid-area: horeison;
  background-image: url(../images/horeison.JPG);
}
#ledwall {
  grid-area: ledwall;
  background-image: url(../images/ledwall.JPG);
}
#calculator {
  grid-area: calculator;
  background-image: url(../images/calculator.JPG);
}
#firstwebsite {
  grid-area: firstwebsite;
  background-image: url(../images/firstwebsite.JPG);
}
#running {
  grid-area: running;
  background-image: url(../images/running.JPG);
}
.categoryGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-content: end;
  margin: 10px;
}


/* Footer */


/* Media Query */